wheel
paho-mqtt==1.5.0
Pykka==2.0.2
pyserial==3.4
transitions==0.7.2
astral==1.10.1
RPi.GPIO==0.7.0
adafruit-circuitpython-ads1x15==2.1.2
adafruit-circuitpython-mcp4725==1.2.1
lcdbackpack==1.0.0b1
codecov==2.0.15
pytest==5.3.0
pytest-cov==2.8.1
pytest-mock==2.0.0
flake8==3.7.9
freezegun==0.3.12