# https://www.freedesktop.org/software/systemd/man/systemd.unit.html
# This file must be placed into /etc/systemd/system

[Unit]
Description=Poupool
After=multi-user.target
Requires=mosquitto.service
# External devices
Wants=dev-arduino.device
After=dev-arduino.device
Wants=dev-ezo_ph.device
After=dev-ezo_ph.device
Wants=dev-ezo_orp.device
After=dev-ezo_orp.device

[Service]
Type=simple
User=poupool
ExecStart=/home/poupool/poupool/.venv/bin/python /home/poupool/poupool/poupool.py \
            --log-config=/home/poupool/poupool/logging-file.conf
WorkingDirectory=/home/poupool/poupool
Restart=on-failure

[Install]
WantedBy=multi-user.target
