# https://www.freedesktop.org/software/systemd/man/systemd.unit.html
# This file must be placed into /etc/systemd/system

[Unit]
Description=Poupool
After=multi-user.target
Requires=mosquitto.service

[Service]
Type=simple
User=pi
ExecStart=/home/pi/poupool/env/bin/python /home/pi/poupool/poupool.py \
            --log-config=/home/pi/poupool/logging-file.conf \
            --no-disinfection
WorkingDirectory=/home/pi/poupool
Restart=on-failure

[Install]
WantedBy=multi-user.target
